apiVersion: apps/v1
kind: Deployment
metadata:
  name: start-pressure-controller
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      app: start-pressure-controller
  template:
    metadata:
      labels:
        app: start-pressure-controller
    spec:
      serviceAccountName: taint-controller-sa
      containers:
        - name: controller
          image: location0717/start-pressure-controller:latest
          env:
            - name: START_PRESSURE_THRESHOLD
              value: "3"
      resources:
        limits:
          cpu: "100m"
          memory: "128Mi"
        requests:
          cpu: "50m"
          memory: "64Mi"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: taint-controller
rules:
  - apiGroups: [""]
    resources: ["pods", "nodes"]
    verbs: ["get", "list", "watch", "update", "patch"]

---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: taint-controller-sa
  namespace: kube-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: taint-controller-binding
roleRef:
  kind: ClusterRole
  name: taint-controller
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: taint-controller-sa
    namespace: kube-system
